/* General Banner Styling */
.banner {
    position: relative;
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(to bottom ,#E4F8E8,#E4F8E8);
    margin: auto;
  }
  
  /* Title Styling */
  .banner-title {
    font-size: 3rem;
    font-weight: 500;
    color: #444;
    font-family: "Great Vibes", cursive;
    background: linear-gradient(90deg, #32a8a2, #000000, #000c00, #32a8a2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    animation: fadeIn 1s ease-in-out;
  }
  
  /* Subtitle Styling */
  .banner-subtitle {
    font-size: 1.2rem;
    color: #6b7280;
    margin-top: 10px;
    animation: fadeIn 1s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Decorative Elements */
  .decor {
    position: absolute;
  }
  
  .left,
  .right {
    width: 50px;
    height: 50px;
    border: 5px solid;
    border-radius: 50%;
    border-top-color: transparent;
  }
  
  .left {
    border-color: #d1fa99;
    bottom: 30px;
    left: 20px;
  }
  
  .right {
    border-color: #fdba74;
    bottom: 30px;
    right: 20px;
  }
  

  @media (max-width: 768px) {
    .banner-title {
      font-size: 2rem;
    }
  }