/* BlogList.css */
.blog-list-container {
  max-width: 100%;
  margin: 0 auto;
}

.blog-list-title {
  font-size: 28px; /* Default for mobile */
  font-weight: 700;
  color: #2D3748;
  margin-bottom: 20px;
  text-align: center;
}

/* Blog List Styles */
.blog-list {
  margin-top: -6px;
  display: grid;
  grid-template-columns: 1fr; /* Default for mobile */
}

/* Blog Item Styles */
.blog-item {
  display: flex;
  flex-direction: column;
  border-radius: 8px; /* Slight border-radius for aesthetics */
  padding: 10px; /* Added padding */
}

.blog-image {
  width: 100%;
  height: auto;
  border-radius: 8px; /* Rounded corners */
}

.blog-content {
  padding: 15px;
}

.blog-title {
  font-size: 20px;
  color: #2D3748;
  margin: 0 0 10px;
}

.blog-excerpt {
  font-size: 16px;
  color: #4A5568;
  margin: 0 0 15px;
}

.read-more {
  font-size: 16px;
  color: #3182CE;
  text-decoration: none;
}

.read-more:hover {
  text-decoration: underline;
}

/* Tablet and Desktop Styles */
@media (min-width: 768px) {
  .blog-list-container {
    padding: 0px; /* Increased padding for larger screens */
  }

  .blog-list {
    margin-left: 100px; /* Keep left margin for tablet and desktop */
  }
}

@media (max-width: 768px) {
  .blog-list-container {
    margin-left: 0; /* Remove left margin for mobile */
  }

  .blog-list {
    margin-left: 0; /* Ensure no left margin for mobile */
  }
  .blog-item {
 
    padding: 20px; /* Added padding */
    padding-bottom: 0;
    padding-top: 10px;
  }
}

@media (min-width: 1024px) {
  .blog-list-title {
    font-size: 32px;
  }
}