/** ArticleCard.css **/
.article-card {
  width: 100%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  font-family: "Inter", Arial, sans-serif;
  margin-bottom: 20px;
}

.article-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
}

.article-content {
  display: flex;
  flex-direction: column;
}

.article-image {
  position: relative;
  text-align: center;
  height: 300px;
  padding: 30px;
  background-color: white;
  overflow: hidden;
}

.article-image img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}

.article-image-title {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: center;
}

.article-image-title h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 5px 0;
  color: #2d3748;
  letter-spacing: 0.5px;
}

.highlighted-text {
  color: #3182ce;
}

.article-details {
  padding: 30px;
  padding-top: 10px;
}

.article-tags {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.tag {
  padding: 6px 16px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
}

.tag-blue {
  background-color: #ebf4ff;
  color: #3182ce;
}

.tag-light-blue {
  background-color: #e6f0fb;
  color: #4299e1;
}

.tag-pink {
  background-color: #fee7ef;
  color: #f56565;
}

.tag-green {
  background-color: #e6f6ec;
  color: #38a169;
}

.tag-purple {
  background-color: #ede9fe;
  color: #6b46c1;
}

.tag-red {
  background-color: #fee2e2;
  color: #dc2626;
}

.article-title {
  font-size: 28px;
  font-weight: 700;
  color: #2d3748;
  margin-bottom: 15px;
  line-height: 1.2;
}

.article-intro {
  font-size: 16px;
  line-height: 1.6;
  color: #4a5568;
  margin-bottom: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.article-date {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #4a5568;
  font-size: 14px;
}

/** Responsive styles **/
@media (min-width: 768px) {
  .article-content {
    flex-direction: row;
  }

  .article-image {
    width: 100%;
  }

  .article-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/* Enhanced Mobile Styles */
@media (max-width: 767px) {
  .article-card {
    border-radius: 15px;
    margin-bottom: 15px;
  }

  .article-content {
    flex-direction: column;
  }

  .article-image {
    width: 100%; /* Make the image container full width */
    height: auto; /* Allow height to adjust automatically */
    padding: 15px;
  }

  .article-image img {
    border-radius: 10px;
    width: 100%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
  }

  .article-image-title {
    position: relative;
    bottom: 0;
    padding: 10px 0;
  }

  .article-image-title h3 {
    font-size: 16px;
  }
}
