
  
  /* Layout Container */
  .Blog_container {
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(to bottom ,#E4F8E8,#E4F8E8);
  }
  
  
  /* Content Wrapper */
  .content {
    display: flex;
    gap: 20px;
    padding-top: 20px;
  }
  
  /* Main Section */
  .main {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 35px;
    padding-top: 0;
  
  }
  
  .box {
    background-color: #333;
    height: 435px;
    width: auto;
    border-radius: 8px;
  }
  
  /* Sidebar */
  .sidebar {
    flex: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-right: 50px;
  } 
  
  .side-box {
    background-color: white;
    box-shadow: 0px 4px 12px #3333333c;
    height: 350px;
    width: 450px;
    border-radius: 8px;

    margin-right: 50px;
  }
  
  .side-box.small {
    height: 200px;
  }
  