.containerMain{
    background: linear-gradient(to bottom, #ffeaf3c4,#b9e5e8d8); 
    /* background: linear-gradient(to bottom, #CFFAF3, #f8eee6,#FFEAF3FA); */
}

.HelpContainer {
    padding: 40px 20px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    color: #333;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 500;
  }

  .services-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .service-tag {
    background-color: #fdfff9;
    padding: 12px 24px;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: text;
    transition: all 0.3s ease;
    color: #4a5568;
  }

  .service-tag:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
    color: #2d3748;
  }

  .get-started-btn {
    text-decoration: none;
    margin-top: 40px;
    background-color: #ffffff33;
    color: rgb(0, 0, 0);
    padding: 16px 32px;
    border-radius: 50px;
    border: 1px solid  #ffffff33;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  }

  .get-started-btn:hover {
    color: #ffffff;
    border: 1px solid #ffa04c ;
    background-color: #e8944b;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-1px);
  }

  .get-started-btn:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }



  @media (max-width: 768px) {
    h1 {
      font-size: 2rem;
    }

    .services-grid {
      gap: 12px;
    }

    .service-tag {
      padding: 10px 20px;
      font-size: 0.9rem;
    }
  }





  