* {
  font-family: "Nunito", "Helvetica";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 80px;
  margin: auto;
  padding-top: 20px;
  background: linear-gradient(to bottom, #E4F8E8, #EBF6E8);
}

.image-container {
  position: relative;
  width: 30%;
  max-width: 350px;
  height: 350px;
}

.image-container img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-container img:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.image-container:nth-child(1) img:hover {
  content: url("../../assets/images/formButton/Individual-Hover.png");
}

.image-container:nth-child(2) img:hover {
  content: url("../../assets/images/formButton/CoupleHover.png");
}

.image-container:nth-child(3) img:hover {
  content: url("../../assets/images/formButton/FamilyOrFriendHover.png");
}

@media (max-width: 768px) {
  .image-row {
    flex-direction: column;
    width: 100%;
    padding: 0 ;
    gap: 30px;
  }

  .image-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .image-container a, 
  .image-container a img {
    display: block;
    margin: 0 auto;
    width: 80%;
  }
}

@media (max-width: 480px) {
  .image-container a img {
    width: 80%;
  }
}

@media (max-width: 320px) {
  .image-container a img {
    width: 90%;
  }
}