.numberBg {
  width: 100%;
  height: auto;
  padding: 3em;
  position: relative;
  background: linear-gradient(to bottom, #fffbe6, #fff7d5c3, #CFFAF3FA);
  overflow: hidden;
}

 
.statsContainer {
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 0px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
  max-width: 125rem;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
  border-radius: 1.5em;
  position: relative;
  z-index: 1;
}
  
.statsHeading {
  font-size: 48px;

  color: #4a4a4a;
  margin-bottom: 20px;
  font-weight: 600;
}
  
.statsSubheading {
  font-size: 18px;

  color: #4a4a4a;
  max-width: 900px;
  margin: 0 auto 60px;
  line-height: 1.6;
}
  
.highlightNumber {
  color: #021152;
  font-weight: 700;
}
  
.statsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
  
.statCard {
  padding: 20px 15px;
  /* border-right: 1px solid #e0e0e0; */
}
  
.statCard:last-child {
  border-right: none;
}
  
.statIcon {
  color: #338a66;
  width: 40px;
  height: 40px;
  margin-bottom: 15px;
}
  
.statNumber {
  font-size: 32px;
  color: #666633;
  margin: 15px 0;
  font-weight: 600;
}
  
.statDescription {
  color: #4a4a4a;
  font-size: 16px;

  text-transform: capitalize;
  text-align: center;
  line-height: 1.2;
}

/* Tablet styles */
@media (max-width: 768px) {
  .numberBg {
    padding: 0.5rem;
    height: 22rem;
  
  }
  
  .statsContainer {
    scale: 0.8;
    padding: 15px 15px;
    margin-top: 0;
 
  }
  
  .statsHeading {
    font-size: 36px;
  }
  
  .statsSubheading {
    font-size: 16px;
    margin-bottom: 40px;
  }
  
  .statsGrid {
    gap: 20px;
  }
  .statCard{
   
    scale: 0.8;
  }
}


@media (max-width: 480px) {

  .numberBg {
    padding-top: 0;
    padding: 0.5rem;
    height: 55rem;
  
  }
  .statsContainer{
    padding-top: 0;
  }


}


/* Small tablet / Large mobile styles */
@media (max-width: 600px) {
  .numberBg {
    padding: 1.5em;
  }
  
  .statsHeading {
    font-size: 30px;
  }
  
  .statsGrid {
    grid-template-columns: 1fr;
  }
  
  .statCard {
    border-right: none;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .statCard:last-child {
    border-bottom: none;
  }
}

/* Mobile styles */
@media (max-width: 325px) {
  .numberBg {
    padding: 1em;
    width: 100%;
  }
  
  .statsContainer {
    padding: 20px 10px;
    border-radius: 1em;
  }
  
  .statsHeading {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .statsSubheading {
    font-size: 14px;
    margin: 0 auto 30px;
    line-height: 1.4;
  }
  
  .statsGrid {
    grid-template-columns: 1fr;
    gap: 15px;
  }
  
  .statCard {
    padding: 10px;
    border-right: none;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .statCard:last-child {
    border-bottom: none;
  }
  
  .statIcon {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
  }
  
  .statNumber {
    font-size: 22px;
    margin: 10px 0;
  }
  
  .statDescription {
    font-size: 14px;
    line-height: 1.1;
  }
}