@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Great+Vibes&display=swap');

.quotes-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container-quote {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    padding: 30px 20px;
    border-radius: 12px;
    letter-spacing: 1px;
    background: #cdffd7;
    animation: fadeIn 1s ease-in-out;
    width: 100%;
}

.container-quote p {
    font-family: "Great Vibes", cursive;
    font-size: 48px;
    font-weight: bold;
    background: linear-gradient(90deg, #26bfd3, #000000, #000c00, #26bfd3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.border-up, .border-down {
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, #32a8a2, #000000, #000c00, #32a8a2);
    animation: fadeIn 1s ease-in-out;
    margin: 0;
}