@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap");

* {
  font-family: "Nunito", "Helvetica";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navLogo img {
  height: 40px;
  width: auto;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0rem 12.5rem;
  width: 100%;
  height: 8.5rem;
  margin: 0 auto;
  background: linear-gradient(to bottom ,#ffebb4,#E4F8E8);
  position: relative;
}

.navLink {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
}

.navLinks {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navLinks li a {
  text-decoration: none;
  color: #85640B;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease;
  padding: 0.4rem 0.8rem;
  border-radius: 50px;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.navLinks li a:hover {
  border: 2px solid #85640B;
}

.navLinks li a.active {
  border: 2px solid #85640B;
}

.navButtons {
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-items: center;
}

.navButtons a {
  text-decoration: none;
}

.navButtons h1 {
  color: #85640B;
  padding: 0.6rem 1.2rem;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 3px solid #85640B;
}

.navButtons h1:hover {
  background-color: #85640B;
  color: #ffeaaf;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: #85640B;
  padding: 0.5rem 1rem;
}

/* Mobile View */
@media (max-width: 768px) {
  .navLinks li a{
    font-size: 1rem;
  }


  .navContainer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  .navButtons {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .navLink {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: #ffebb4;
    text-align: center;
    display: none;
    flex-direction: column;
  }

  .navLink.open {
    display: flex;
  }

  .navLinks {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
  }

  .navLinks li {
    width: 100%;
  }

  .navLinks li a {
    display: block;
    text-align: center;
    width: 90%;
    padding: .3rem;
    border: none;
  }
}
