/* Global Styles */
.mental-wellness-page {
    height: 80vh;
    background: linear-gradient(to bottom, #E4F8E8, #f8eee6,#cffaf3c0);
    display: flex;
    flex-direction: column;
  }
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Great+Vibes&display=swap');

 
.wellness-banner {
  text-align: center;
  padding: 20px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  border-radius: 12px;
  letter-spacing: 1px;
  animation: fadeIn 1s ease-in-out;
}

.wellness-banner p {
  font-family: "Great Vibes", cursive;
  font-size: 36px;
  background: linear-gradient(90deg,#32a8a2, #000000, #000c00, #32a8a2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
    
  
  /* Form Section */
  .form-section {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px 16px;
  }
  
  .form-container {
  
    border-radius: 8px;
    padding: 32px;
    border: .5px solid black;
    width: 50%;
    text-align: center;
    height: 400px;
  }
  
  .form-title {
    font-size: 2.25rem;
    font-weight: bold;
    color: #1f2937;
  }



.faqSectionWN{
 background:#cffaf3c0; 
}

.faqSectionWN h1{
  text-align: center;
}