.mental-wellness-page {
  min-height: 100vh;
  background: linear-gradient(to top, #ffcfcfda, #E4F8E8);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wellness-banner {
  text-align: center;
  padding: 20px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  border-radius: 12px;
  letter-spacing: 1px;
  animation: fadeIn 1s ease-in-out;
  width: 100%;

}

.wellness-banner p {
  font-family: "Great Vibes", cursive;
  font-size: 36px;
  background: linear-gradient(90deg, #32a8a2, #000000, #000c00, #32a8a2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

    
  
  /* Form Section */
  .form-section {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px 16px;
  } 

  .form-container {
  
    border-radius: 8px;
    padding: 32px;
    border: .5px solid black;
    width: 50%;
    text-align: center;
    height: 400px;
  }
  
  .form-title {
    font-size: 2.25rem;
    font-weight: bold;
    color: #1f2937;
  }
.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

}

.individual-form {
  width: 100%;
  margin-bottom: 20px; /* Space between form and FAQ */
}

.faqSectionWN {
  width: 100%;
}

.faqSectionWN h1 {
  text-align: center;
}
