.container {
  max-width: 60%;
  margin: 0 auto;
  padding: 20px;
}

.faqMainContainer {
  background: linear-gradient(to bottom, #f4f2de, #fdfaf0);

  /* padding-top: 1rem; */
  width: 100%;
}

.faqContainer {
  border-radius: 8px;
  overflow: hidden;
}

.faqItem {
  border-bottom: 1px solid #0000005d;
}

.faqItem:last-child {
  border-bottom: none;
}

.faqQuestion {
  font-family: "Delius";
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: rgba(255, 255, 255, 0);
}

.faqQuestion:hover {
  background-color: rgba(255, 255, 255, 0.389);
}

.chevronActive {
  transform: rotate(180deg);
}

.faqAnswer {
  max-height: 0;
  width: 90%;
  font-family: "Delius";
  text-transform: capitalize;
  overflow: hidden;
  text-align: left;
  transition: max-height 0.5s ease, padding 0.5s ease;
  padding: 0 50px;
  padding-left: 1rem;
  color: #323232;
  line-height: 1.7;
}

.faqAnswerActive {
  max-height: 300px;
  padding: 0 20px 20px;
}

.faqButton {
  padding: 1rem;

  cursor: pointer;
  width: 20rem;
  margin-bottom: 1rem;
  margin-top: 0;
}
.faqButton:hover {
  background-color: none;
}
.faqTitle {
  font-family: "Times New Roman", sans-serif;
}
